{% extends 'base.html' %}


{% block content %}

<div class="container">
    <h1>Profile page</h1>
    <img src="{{ owner.image }}" alt="">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ owner.displayname }}</h3>
            </div>
            <div class="col align-items-center">
                <a href="{% url 'human_update' owner.id %}">Modify profile</a>
            </div>
        </div>
    </div>
    <p>{{ owner.info }}</p>
    <h4>Owned dogs:</h4>
    <ul>
        {% for dog in owned_dogs %}
        <li>
            <a href="{% url 'dog_profile' dog.id %}">{{ dog.name }} ({{ dog.breed }})</a>
            <p>Modify profile</p>
        </li>
        {% endfor %}
    </ul>
    <h4>Manage dog profile:</h4>
    <button class="btn btn-primary" onclick="location.href='{% url 'dog_creation' %}'">New Profile</button>
    <button class="btn btn-danger">Delete Profile</button>
    
</div>


{% endblock %}