{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Create Event:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" id="createLocationButton" class="btn btn-secondary">Add City</button>
        <button type="submit" class="btn btn-primary">Create Event</button>
    </form>
</div>

{% endblock %}

{% block extra %}

    <script src="{% static 'js/create_location.js' %}"></script>

{% endblock %}