{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    {% if event.id %}
    <h2>Modify Event:</h2>
    {% else %}
    <h2>Create Event:</h2>
    {% endif %}
    <p>If your city is not in the list, please add it using the button at the end of the form.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'create_location' %}" class="btn btn-warning">Add City</a>
        {% if event.id %}
        <button type="submit" class="btn btn-primary">Modify Event</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Create Event</button>
        {% endif %}
    </form>
</div>

{% endblock %}
