@media (min-width: 992px) {
    .custom-align {
        align-self: end;
    }
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f3e8;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #f0e4d7;
}

.all-link {
    color: inherit;
    text-decoration: none;
}

.all-link:hover {
    text-decoration: none;
    color: #795548; /* Light brown color for hover effect */
}

.navbar {
    background-color: #f0e4d7; /* Light brown background color */
}

.nav-link {
    color: #000; /* Dark text color */
}

.nav-link:hover {
    color: #795548; /* Darker brown color for hover effect */
}

.nav-link.active {
    color: #795548; /* Darker brown color for active links */
    font-weight: bold;

}

.navbar-brand {
    color: #000; /* Dark text color */
}

.navbar-brand:hover {
    color: #795548; /* Darker brown color for hover effect */
}

.custom-align {
    display: flex;
    align-items: center;
}

.bg-custom {
    background-color: #f0e4d7;
}

.bg-div {
    background-color: #e6c5a3;
}

.bg-custom-card {
    background-color: #e6c5a3; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for elevation */
    border-radius: 10px; /* Add border radius for rounded corners */
}


