@media (min-width: 992px) {
    .custom-align {
        align-self: end;
    }
}

body {
    padding-bottom: 10em
}

footer {
    height: 8em;
}

.all-link {
    text-decoration: none;
    color: #445261;
}

.all-link:hover {
    text-decoration: none;
    color: burlywood;
}
