{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BarkingWay</title>

    <!-- bootstrap css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- fontawesome css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    {% include 'includes/nav-bar.html' %}

    <main class="container">
        {% if user.is_authenticated %}
        <p class="text-center">Woofcome {{ user }}</p>
        {% else %}
        <p class="text-center">You're not logged in!</p>
        {% endif %}

        {% block content %}
        <!-- Content from other pages will be here -->
        {% endblock content %}
    </main>



    <!-- footer section with social media links -->
    <footer class="bg-light text-center text-lg-start mt-4 fixed-bottom">
        <div class="container p-4">
            <p class="text-center mb-0">Thank you for stopping bau</p>
            <small class="text-center d-block mb-3">Made by Massimo</small>
            <div class="text-center">
                <a href="#" class="text-dark mr-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-dark mr-3"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-dark"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
    </footer>

    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block extra %}
    {% endblock %}
</body>

</html>